<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User top artist image #<%= @user_top_artist_image.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/user_top_artist_images" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @user_top_artist_image.user %>
          <a href="/user_top_artist_images/<%= @user_top_artist_image.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit user_top_artist_image
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @user_top_artist_image.user %>
          <a href="/delete_user_top_artist_image/<%= @user_top_artist_image.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete user_top_artist_image
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @user_top_artist_image.user.present? %>
          <a href="/users/<%= @user_top_artist_image.user_id %>">
            <%= @user_top_artist_image.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Image url
      </dt>
      <dd>
        <%= @user_top_artist_image.image_url %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@user_top_artist_image.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@user_top_artist_image.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

